{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block style%} {{parent()}}{% endblock %}
{% block body %}

{{ dump(users)}}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/anaruz/www/sym/udemy/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/anaruz/www/sym/udemy/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
    <ul>
        {# {% for user in users %}
        <li>{{user.name}} you won a {{gifts[loop.index0]}} gift</li>
        {% endfor %} #}


    </ul>
         {# {% for message in app.flashes('notice')%}

           <div>{{message}}</div>

        {% endfor %} #}

        {% for label, messages in app.flashes %}

            {% for message in messages %}

                <div class="flash-{{label}}">{{message}}</div>
            {% endfor %}
        {% endfor %}

        <p>
          dumpped user <br>
          <pre>
            {{ dump(user) }}
          </pre>
        </p>

        {% for user in users %}
        <p> {{ user.name}} </p>
         {% else %}
         <p>No user found</p>

        {% endfor %}

        <p>
          ## Range 1..10 <br>

          {%for n in 1..10%}
            {{ n }}
          {% endfor %}
        </p>

        <p>
            ## Range with filter upper 'a'|upper..'z'|upper <br>

            {%for n in 'a'|upper..'z'|upper%}
              {{ n }}
            {% endfor %}
          </p>

          <p>
            ## Range 1..10, with cycle printing 'odd', 'even' <br>

            {%for n in 1..10 %}
              {{n}} is an {{ cycle(['even', 'odd'], n)|upper }} number <br>
            {% endfor %}
          </p>

        {{include('includes/subview.html.twig', users)}}

        <p>relative path is!:</p>
         {{path('home',  { id: 1 })}} {#takes name of the route!#}
        <p>absolute path is!:</p>
        {{url('home', {id:1})}} {#takes name of the route!#}

           <p>GA Code: <strong>{{ ga_code }}</strong></p>
           <p>assets!!!</p>
           {{asset('build/app.js')}}

           <h2>app variable</h2>
           {#app.user: {{app.user}} {# composer require symfony/security-bundle to use#}
           app.request.get('param'): {{app.request.get('param')}} <br>
           app.environment: {{app.environment}} <br>
           {# app.session: {{dump(app.session)}} {#PAY ATTENTION: this one displays a lot of data #}

           <h3>render mosts popular</h3>
          {{ render(controller('App\\Controller\\DefaultController::mostPopularBlogPosts', {'num' : 5}))}} {# param num overriteen 3 to 5 #}
          <h3>Video Dumpping</h3>
          <pre>
            {#{{ dump(video.author.name) }} commentted this out #}
          </pre>


        {% if app.user %}
          <h3>user is logged in system</h3>

          <a href="{{path('logout')}}">Logout</a>

        {% endif %}

        {% if is_granted('ROLE_ADMIN')%}{#has ROLE_ADMIN #}

        <p>This user has ROLE_ADMIN</p>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY')%}{#regardless of method#}
          <p>This user IS_AUTHENTICATED_FULLY</p>
        {% endif %}{#regardless of method#}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}

        <p>This user IS_AUTHENTICATED_REMEMBERED</p>
        {% endif %}

        <a href="{{path('login')}}">awesome link</a>
        {% trans %}
            some.key
        {% endtrans %}

        {{'some.key'|trans|raw}}
</div>

{% endblock %}



{% block javascripts_body%}
{{parent()}}

 {% endblock %}
